.homePageContainer {
    display: flex;
    flex-direction: column;
    height: 95%;
    margin: 5px;
    width: 100%;
}

.funFactContainer {
    height: 20%;
    color: var(--color-darkGreen);
    h1 {
        font-family: fantasy;
        margin: 10px;
    }

    .funFactInfo {
        margin-left: 15px;
    }
}

.postsContainer {
    height: 70%
}

.filtersContainer { 
    height: 10%;
}