.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    width: 100%;
}

.loginAndRegisterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.inputsContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devider {
    height: 50%;
}

.googleBtn {
    border: 2px var(--color-darkGreen) solid;
    border-radius: 5px;
    color: var(--color-darkGreen);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
}