.titleBar {
    align-items: end !important;
    flex-direction: row;
    height: 20%;
    padding: 0px 5px 5px;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%) !important;
}

.singlePost {
    height: 100%
}

.actionIcons {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.titleWrap {
    padding: 0px !important;
}