.filtersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.filterInput {
    width: 200px;
    margin: 5px;
    height: 40px;
}

.MuiAutocomplete-root {
    max-height: 40px;
}

.TextField {
    max-height: 40px;
    border-bottom: 1px solid var(--color-lightBrown) !important;
    
}

.input input{
    color: var(--color-lightBrown) !important;
}