.postPageContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    height: 100%;
    color: var(--color-darkGreen);
}

.imageContainer {
    width: 40%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.dataContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin-left: 20px;
}

.profilePic {
    border-radius: 50%;
    max-height: 64px;
    max-width: 64px;
}

.publisherData {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username {
    font-size: large;
    margin-left: 10px;
}

.descriptionContainer {
    margin-top: 10px;
    font-size: large;
}

.addComment {
    display: flex;
    flex-direction: row;
}

.commentsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.commentsList {
    overflow-x: hidden;
    overflow-y: scroll;
}

.commentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}