.headerContainer {
    background: var(--color-darkGreen);
    color: var(--color-lightPink);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.logo {
    height: 70%;
}

.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.logout {
    padding-right: 5px;
}

.clickable:hover {
    cursor: pointer;
}