.uploadContainer {
    height: 100%;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    margin: 20px;
}

.imageContainer {
    max-width: 50%;
    background-color: lightgray;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80%;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
}

.input {
    width:90% !important;
    
    input{
        color: var(--color-lightBrown) !important;
    }

    textArea{
        color: var(--color-lightBrown) !important;
    }
}

.imagePreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}