.userPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    margin: 5px;
    padding-top: 10px;
}

.postsContainer {
    height: 70%
}

.itemWithEditContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemWithEditContainer * {
    padding-right: 10px;
}

.profilePictureWithUsername {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    color: var(--color-darkGreen);
}

.bio {
    margin: 10px 0 10px 0;
}

p {
    margin: 0px;
}

.clickable:hover {
    cursor: pointer
}